/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    margin-bottom: 5%;
    background-color: #000;
              color: #fff;

}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #2762f3;
}
body{
    background-color: rgb(20, 20, 20);
    color: #fff;
}

hr{
background-color: #2762f3;
height: 1px;
border: none;
}
.feed{
    
    margin-top: 5%;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      padding: 5px;
          margin-left: 6%;
          margin-right: 5%;
    }
    a{
        font-size: 10px;
        margin-bottom: 2px;
                margin-left: 5px;

}

.image img{
    position: relative;
    padding-bottom: 10px;
}

.details{
    position: relative;
    padding-top: 10%;
    width: 60%;
    margin-left: 20%;

}

.image{
    float: left;
    margin-left: 20%;
    padding-right: 2%;
    
}
.info{
    margin-right: 5%;
    text-align: left;
    padding-top: 2%;
        padding-right: 2%;
            padding-bottom: 0.5%;

              color: #fff;
              display: flex;


}
.genres{
    display: flex;
}

.name {
    margin-right: 5%;
    text-align: left;
 padding-top: 2%;
 padding-right: 2%;
 padding-bottom: 2%;
    color: #fff;
    display: flex;


}
.content_img {
    position: relative;

}

/* Child Text Container */
.content_img div {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-size: 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.2s linear;
    transition: visibility 0s, opacity 0.2s linear;
}

/* Hover on Parent Container */
.content_img:hover {
    cursor: pointer;
}

.content_img:hover div {
    width: 140px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 12;
}

.originalimg{
    width: 11%;
    height: 10%;
}

.images{
text-align: center; 
margin-top: 4%;
padding-bottom: 10%;
}






:root {
    font-size: calc(12px + (22 - 14)*(90vw - 300px)/(1920 - 320));
}


button,
input {
    font: 1em Hind, sans-serif;
    line-height: 1.5em;
}


input {
    color: #171717;
}


.search-bar {
    display: flex;
}


.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
    transition: all 0.25s ease-out;
}

.search-bar input,
.search-btn {
    width: 3em;
    height: 3em;
}

.search-bar input:invalid:not(:focus),
.search-btn {
    cursor: pointer;
}

.search-bar,
.search-bar input:focus,
.search-bar input:valid {
    width: 100%;
}

.search-bar input:focus,
.search-bar input:not(:focus)+.search-btn:focus {
    outline: transparent;
}

.search-bar {
    margin: auto;
    padding: 1.5em;
    justify-content: center;
    max-width: 30em;
}

.search-bar input {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #171717 inset;
    padding: 0.75em;
    transform: translate(0.5em, 0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
}

.search-bar input:focus,
.search-bar input:valid {
    background: #fff;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1);
}

.search-btn {
    background: #171717;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
    transform-origin: 0 50%;
}

.search-btn:before,
.search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
}

.search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
}

.search-btn:after {
    background: #f1f1f1;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em, 0) rotate(45deg);
    transform-origin: 0 50%;
}

.search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

/* Active state */
.search-bar input:focus+.search-btn,
.search-bar input:valid+.search-btn {
    background: #2762f3;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
}

.search-bar input:focus+.search-btn:before,
.search-bar input:focus+.search-btn:after,
.search-bar input:valid+.search-btn:before,
.search-bar input:valid+.search-btn:after {
    opacity: 1;
}

.search-bar input:focus+.search-btn:hover,
.search-bar input:valid+.search-btn:hover,
.search-bar input:valid:not(:focus)+.search-btn:focus {
    background: #0c48db;
}

.search-bar input:focus+.search-btn:active,
.search-bar input:valid+.search-btn:active {
    transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {

    body,
    input {
        color: #f1f1f1;
    }

    body {
        background: #171717;
    }

    .search-bar input {
        box-shadow: 0 0 0 0.4em #f1f1f1 inset;
    }

    .search-bar input:focus,
    .search-bar input:valid {
        background: #3d3d3d;
        box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }

    .search-btn {
        background: #f1f1f1;
    }
}