/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    margin-bottom: 5%;
    background-color: #000;
              color: #fff;

}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #04AA6D;
}
body{
    background-color: rgb(20, 20, 20);
    color: #fff;
}
.feed{
    
    margin-top: 5%;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      padding: 5px;
          margin-left: 6%;
          margin-right: 5%;
    }
    a{
        font-size: 10px;
        margin-bottom: 2px;
                margin-left: 5px;

}

.image img{
    position: relative;
    padding-bottom: 10px;
}

.details{
    position: relative;
    padding-top: 10%;
    width: 60%;
    margin-left: 20%;

}

.image{
    float: left;
    margin-left: 20%;
    padding-right: 2%;
    
}
.info{
    margin-right: 5%;
    text-align: left;
    padding-top: 2%;
        padding-right: 2%;
            padding-bottom: 0.5%;

              color: #fff;
              display: flex;


}
.genres{
    display: flex;
}

.name {
    margin-right: 5%;
    text-align: left;
 padding-top: 2%;
 padding-right: 2%;
 padding-bottom: 2%;
    color: #fff;
    display: flex;


}
.content_img {
    position: relative;

}

/* Child Text Container */
.content_img div {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-size: 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.2s linear;
    transition: visibility 0s, opacity 0.2s linear;
}

/* Hover on Parent Container */
.content_img:hover {
    cursor: pointer;
}

.content_img:hover div {
    width: 140px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 12;
}

.originalimg{
    width: 11%;
    height: 10%;
}

.images{
text-align: center; 
margin-top: 4%;
padding-bottom: 10%;
}


