<header>
    <h1 style="cursor: pointer;" id="nav-title" onclick="window.location='/home'">MMSeries</h1>
    <nav>
        <ul>
            <li><a href="/home">MENU</a></li>
          
        </ul>
    </nav>
</header>